.container
{
    margin-top: 100px;
}
* {
    box-sizing: border-box;
  }
  
  .row::after {
  content: "";
  clear: both;
  
  }

  [class*="col-"] {
  float: left;
  padding: 15px;
  
  }



.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-lg-6{
    width:400px ;
}
.col-lg-12{
    width:800px;
}

@media (max-width:400px) {
	.col-md-6{
		width: 100%;
        float: left;
        height: 100px;
	}
}

@media (min-width:700px) {
	.col-lg-6 {
		width: 100%;
        float: left;
        height: 100px;
	}
}



@media (min-width:780px) {
	.col-md-6 .col-md-6 {
		width:100%;
		float: left;
	}
}


.submitbutton{
    color: #ffffff;
    background-color: #669543;
}
.submitbutton:hover{
    color: black;
}
//EDIT
form{
    width: 100%;
    .pd-none{
        padding: 0px;
    }
    .submitbutton{
        border: none;
        color: #ffffff;
        background-color: #669543;
        border-radius: 5px;
        padding: 10px 20px;
    }
    
}