<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light ">
  <div class="nour-nav container">
      <a class="navbar-brand" href="#">
          <img src="../../../assets/img/logo.png" alt="">
          <div>
              <h1>Canabia</h1>
              <span>Colorado dispensary</span>
          </div>
      </a>   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link " href="" routerLink="/home"routerLinkActive="active">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"href="" routerLink="/product">PRODUCT</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link"href="" routerLink="/check-out">CONTACT US</a>
        </li>
        <button type="button" class="btn register"><a class="nav-link " routerLink="/register">REGISTER</a></button>
        <li class="nav-item">
          <a class="nav-link"href="" routerLink="/cart"><i class="fas fa-shopping-cart fa-2x"></i></a>
        </li>
      </ul>

    </div>
  </div>
</nav>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>