$green-color-one:#7DAD3D;
$green-color-two:#54be73;
$green-color-three:#78bf4d ;
$green-color-four:#9cc026;
$green-color-five: #f2f2f2;
 
.mainButtonAshrqat{
    margin-right: 10px;
        border:solid 0px;
        border-radius: 10px;
}




nav{
    height: 80px;
    background-color: white;
    button{
        background-color:$green-color-one ;  
              height:40px;
        color: white;        
            padding-bottom: 20px;
            margin-left: 30px;

        a{
            color: white;
            padding: 0px;
        }
    }

    
    .navbar-collapse{
        flex-grow: initial;
        .navbar-nav{
            //height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: 992px) {
                background-color: white;
                padding: 20px;
                box-sizing: border-box;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
            }
            .nav-item{
                .active{
                    color: $green-color-three;
                }
                .nav-link{
                    font-size:18px;  
                    font-weight: 500;
 
                    &:hover ,  &:checked,&:active{
                        color:$green-color-three ;
                        //font-size:20px;   
                    }  
                
                    i{
                        padding: 2px;
                        font-size:25px;
                        color:$green-color-one ;
                        margin-left: 10px;

                        &:hover ,  &:active{
                            color:$green-color-three ;
                            //font-size:20px;   
                        }  
                    
                    }
                    
                }
            }
        }
    }
    .nour-nav{
        display:flex;
        justify-content: space-between;
        
        .navbar-brand{
            display:flex;
            justify-content: center;
            img{
                width: 70px;
                height: 53.4px;
            }
            div{
                display:flex;
                flex-direction: column;
                justify-content:center;
                margin-left: 16px;
                h1{
                    color:rgb(31, 35, 43);
                    font-size:30px;
                    font-weight:600;
                }
                span{
                    color:rgb(128, 128, 128);
                    font-size:10px;
                    font-weight:600;
                    text-transform:uppercase;
                }
            }

        }
    }
}