$green-color-one:#669543;
$green-color-two:#54be73;
$green-color-three:#78bf4d ;
$green-color-four:#9cc026;
nav{
    height: 80px;
    background-color: white;
    button{
        background-color:$green-color-three ;
        color: white;
        a{
            color: white;
        }
    }
    .navbar-collapse{
        flex-grow: initial;
        .navbar-nav{
            //height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: 992px) {
                background-color: white;
                padding: 20px;
                box-sizing: border-box;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
            }
            .nav-item{
                .active{
                    color: $green-color-three;
                }
                .nav-link{
                &:hover{
                    color:$green-color-three ;
                }
                    i{
                        color:$green-color-three ;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    .nour-nav{
        display:flex;
        justify-content: space-between;
        
        .navbar-brand{
            display:flex;
            justify-content: center;
            img{
                width: 90px;
                height: 68.7px;
            }
            div{
                display:flex;
                flex-direction: column;
                justify-content:center;
                margin-left: 16px;
                h1{
                    color:rgb(31, 35, 43);
                    font-size:30px;
                    font-weight:600;
                }
                span{
                    color:rgb(128, 128, 128);
                    font-size:10px;
                    font-weight:600;
                    text-transform:uppercase;
                }
            }

        }
    }
}