@import '../app.component.scss';
* {
    margin-top: 10px;
}


.row {
    align-items: center;
    justify-content: center;

    tr td {
        vertical-align: middle;
        height: 5px;
        padding: 10px;
        img {
            margin: 5px;
        }
      
        .heart {
            i {
                color: white;
            }
            background-color: red;
        }
        .remove {
            color: white;
            background-color: $green-color-one;
        }
        var {
            font-style: normal;
        }

        .counterQ,
        .quantity {
            width: 80%;
            text-align: center;
            height: 40%;
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            height: 40px;
            opacity: 0.5;
        }
    }

    .purchase{
        background-color: $green-color-one;

    }
    .shopping{
        background-color:$green-color-four;
  
    }
    .apply {
        margin-top: 0px;
        background-color: $green-color-one;

    }
}

.row:first-child {
    margin-top: 100px;
}

/*
.quantity-wrapper {
    position: relative;
}

.quantity-wrapper:after {
    content: "+";
    position: absolute;
    right: 15px;
    height: 100%;
    top: 10px;
    pointer-events: none;
}

.quantity-wrapper:before {
    content: "-";
    position: absolute;
    left: 15px;
    height: 100%;
    top: 10px;
}*/