<div class="row">
    <aside class=" col-lg-8 col-md-7  col-sm-3 " style="padding: 1px;">
        <div class="card ">

            <div class="table-responsive ">

                <table class="table table-borderless   table-striped">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col-4">Product</th>
                            <th scope="col-2" width="120">Quantity</th>
                            <th scope="col-2" width="120">Price</th>
                            <th scope="col-2" width="120">Sub Total</th>
                            <th scope="col-2" width="120"></th>

                        </tr>
                    </thead>


                    <tbody>
                        <tr *ngFor="let item of itemsProductList">

                            <td>
                                <figure class="itemside align-items-center">
                                    <img src="{{item.product.img_url}}" class="img-sm" width="60px">
                                    <a href="#" class="title text-dark">{{item.product.title}}</a>
                                </figure>
                            </td>

                            <td>

                                <input class="quantityValue " max="10" min="1" name="size" step="1" type="number" value="1">
                            </td>
                            <td>
                                <div class="price-wrap">
                                    <var class="price">{{item.product.price}}</var> <br>

                                </div>
                            </td>

                            <td>{{item.product.price * item.quantity}}</td>

                            <td >
                                <a data-original-title="Save to Wishlist" title="" href="#" class="btn btn-light heart"
                                    data-toggle="tooltip"> <i class="fa fa-heart inline"></i></a>
                                <a href="#" class="btn btn-light remove inline" (click)="remove(item.product.id)"> <i
                                        class="far fa-trash-alt"></i>

                                </a>
                            </td>
                        </tr>

                    </tbody>
                    <!-- <tfoot>

                        <tr>
                            <td colspan="6" align="right">Total</td>
                            <td>{{total}}</td>
                        </tr>
                    </tfoot> -->
                </table>

            </div> <!-- table-responsive.// -->

            <div class="card-body border-top">
                <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
            </div> <!-- card-body.// -->

        </div> <!-- card.// -->

    </aside> <!-- col.// -->


    <!-- col.// -->
</div> <!-- row.// -->

<div class="row">
    <div class="btn-group col-lg-8 col-sm col-md-7">
        <button type="button" class="btn btn-primary" [routerLink]="['/product']">CONTINUE SHOPPING</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/cart']">UPDATE CART</button>
        <button type="button" class="btn btn-primary-outline" [routerLink]="['/check-out']">PROCEED TO CHECKOUT</button>
    </div>
    <!-- <div class="col-8">
    
    <a class=" btn btn-primary" href="#" role="button">CONTINUE SHOPPING</a>
    <a class=" btn btn-primary" href="#" role="button">UPDATE CART</a>
    <a class=" btn btn-primary-outline" href="#" role="button">PROCEED TO CHECKOUT</a><br>

</div> -->
</div>
<div class="row">
    <div class="card   col-lg-4 col-sm col-md-6 coupon" style="height: 200px; margin-right: 5px;">
        <div class="card-body ">
            <form>
                <div class="form-group">
                    <label><strong> Have coupon?</strong></label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="" placeholder="Code">
                        <span class="input-group-append">
                            <button class="btn btn-primary apply">Apply</button>
                        </span>
                    </div>
                </div>
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card.// -->
    <div class="card  col-lg-4 col-sm-3  col-md-7 bill">
        <div class="card-body ">
            <dl class="dlist-align">
                <dt>Total price:</dt>
                <dd class="text-right">$69.97</dd>
            </dl>
            <dl class="dlist-align">
                <dt>Discount:</dt>
                <dd class="text-right text-danger">- $10.00</dd>
            </dl>
            <dl class="dlist-align">
                <dt>Total:</dt>
                <dd class="text-right text-dark b"><strong>$59.97</strong></dd>
            </dl>
            <hr>
            <p class="text-center mb-3">
            </p>
            <a href="#" class="btn btn-primary btn-block purchase">
                <i class="fas fa-tags"></i> Make Purchase
            </a>
            <a href="#" class="btn btn-light btn-block shopping"> <i class="fas fa-shopping-basket"></i> Continue
                Shopping</a>
        </div>

        <!-- card-body.// -->
    </div> <!-- card.// -->


</div>