@import '../app.component.scss';
* {
    margin-top: 10px;
}
<<<<<<< HEAD
.cart-header{
    margin-top:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-repeat: no-repeat;
    width: 100%;
    height: 170px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("http://webdesign-finder.com/html/canabia/img/parallax/subscribe.jpg");
}
.row {   
      align-items: center;
  justify-content: center;
  margin-top: 100px;
=======


.row {
    align-items: center;
    justify-content: center;

    tr td {
        vertical-align: middle;
        height: 5px;
        padding: 10px;
        img {
            margin: 5px;
        }
      
        .heart {
            i {
                color: white;
            }
            background-color: red;
        }
        .remove {
            color: white;
            background-color: $green-color-one;
        }
        var {
            font-style: normal;
        }

        .counterQ,
        .quantity {
            width: 80%;
            text-align: center;
            height: 40%;
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            height: 40px;
            opacity: 0.5;
        }
    }

    .purchase{
        background-color: $green-color-one;

    }
    .shopping{
        background-color:$green-color-four;
>>>>>>> 78979c71d82e29fa6e02fa24bcc750ed1ea2e2f6
  
    }
    .apply {
        margin-top: 0px;
        background-color: $green-color-one;

    }
}

.row:first-child {
    margin-top: 100px;
}

/*
.quantity-wrapper {
    position: relative;
}

.quantity-wrapper:after {
    content: "+";
    position: absolute;
    right: 15px;
    height: 100%;
    top: 10px;
    pointer-events: none;
}

.quantity-wrapper:before {
    content: "-";
    position: absolute;
    left: 15px;
    height: 100%;
    top: 10px;
}*/