@import '../../styles.scss';



h1{
    margin: 0px;
}

/*Carousel-Slider*/
.carousel{
    .carousel-indicators{
        .active{
            background-color: white;
        }
        li{
            height: 12px;
            width: 12px;
            border-radius: 50%;
        }
    }
    .carousel-inner{
        //border-radius: 0 0 30% 30%;
        @media only screen and (max-width: 992px) {
            height:444px;
        }
        margin-top: 80px;
        .carousel-item{
            @media only screen and (max-width: 992px) {
                height:100%;
            }
            .carousel-caption{
                position: absolute;
                right: 15%;
                top: 120px;
                bottom: 20px;
                left: 15%;
                z-index: 10;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #fff;
                text-align: center;
                @media only screen and (max-width: 992px) {
                    display: inline;
                    top:0px;
                }
                h5{
                    font-size: 64px;
                    @media only screen and (max-width: 992px) {
                        font-size: 36px;
                    }
                }
                p{
                    font-size: 18px;
                    @media only screen and (max-width: 992px) {
                        font-size: 16px;
                    }
                }
                .btn{
                    background-color: $green-color-four;
                    color: white;
                    width: 170px;
                    height: 50px;
                    margin-top: 50px;
                    border-radius: 10px;
                }
            }
        }
    }
}
//absolute-div
.absolute-div{
    @media only screen and (max-width: 992px) {
      
    }
    .container{
        .row{
            .col-xl-3{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                top:-100px;
                @media only screen and (max-width: 992px) {
                    top:initial;
                }
                &:first-child{
                    top:-150px;
                    @media only screen and (max-width: 992px) {
                        top:0px;
                    }
                    .circle-div{
                        background-color: $green-color-one;
                    }
                    .description{
                        background-color: $green-color-one;
                    }
                }
                &:nth-child(2){
                    .circle-div{
                        background-color: $green-color-two;
                    }
                    .description{
                        background-color: $green-color-two;
                    }
                }
                &:nth-child(3){
                    .circle-div{
                        background-color: $green-color-three;
                    }
                    .description{
                        background-color: $green-color-three;
                    }
                }
                &:last-child{
                    top:-150px;
                    @media only screen and (max-width: 992px) {
                        top:0px;
                    }
                }
                .circle-div{
                    background-color: $green-color-four;
                    border-radius: 50%;
                    box-sizing: border-box;
                    height: 80px;
                    width: 80px;
                    position: relative;
                    padding: 20px 25px;
                    top:30px;
                    z-index: 120;
                    i{
                        color: white;
                        text-align: center;
                        font-size: 30px;
                        // position: absolute;
                        // right: 20px;
                        // top:20px;
                    }
                }
                .description{
                    box-sizing: border-box;
                    border-radius: 10px;
                    padding:35px;
                    background-color: $green-color-four;
                    color: white;
                    text-align: center;
                    @media only screen and (max-width: 992px) {
                        padding:25px;
                    }
                    h2{
                        font-size:24px;
                        font-weight:700;
                        height:auto;
                        line-height:28.8px;
                        color: white;
                    }
                    p{
                        font-size:16px;
                        font-weight:400;
                        height:90px;
                        line-height:30px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}
//history-about
.history-about{
    padding:100px 0px;
    .container{
        .row{
            .col-xl-3{
                h3{
                    font-size: 14px;
                    color:$green-color-four;
                }
                h4{
                    color:rgb(31, 35, 43);
                    font-size: 30px;
                    font-weight: 600px;
                }
                h5{
                    color:rgb(31, 35, 43);
                    font-size:40px;
                    font-weight: 600px;
                    @media only screen and (max-width: 992px) {
                        font-size: 32px;
                    }
                }
                h2{
                    font-size: 12px;
                    color: $green-color-four;
                }
                img{
                    height: 70px;
                    width: 70px !important;
                    border-radius: 5px;
                    &::after{
                        content:"8888";
                        box-sizing:border-box;
                        color:rgb(120, 191, 77);
                        z-index: 1000;
                        font-size: 32px;
                    }
                }
            }
            .col-xl-6{
                @media only screen and (max-width: 992px) {
                    margin-bottom: 100px;
                }
                h3{
                    color:rgb(31, 35, 43);
                    font-size:16px;
                    font-weight:700;
                    height:52px;
                    line-height:26px;
                }
                p{
                    color:rgb(128, 128, 128);
                    font-size:16px;
                    font-weight:400;
                    height:104px;
                    line-height:26px;
                    @media only screen and (max-width: 992px) {
                        margin: 50px 0px;
                    }
                }
            }
        }
    }
}
//OUR PRODUCT
.our-product{
    background-image: url("http://webdesign-finder.com/html/canabia/img/parallax/progress.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h2{
    color: $green-color-one;
    margin-bottom: -50ox;
  }
  .overlay{
      background-color: rgba(66, 60, 60, 0.718);
      padding:100px 0px;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 992px) {
        padding:40px 0px;
    }
      .btn{
        background-color: $green-color-one;
        color: white;
        border-radius: 10px;
        margin-top: 80px;
        padding: 8px 35px;
        @media only screen and (max-width: 992px) {
            margin-top: 30px;
        }
        a{
            color: white;
            text-decoration: none;
        }
      }
      .carousel-control-prev-icon,.carousel-control-next-icon{
          background-image: none;
        background-color: $green-color-one;
        box-sizing: border-box;
        height: 50px;
         width: 50px;
        border-radius: 50%;
        color:white;
        padding: 13px;
        i{
            
        }
      }
      .carousel-item{
          .col-xl-3 {
              .product-box{
                  border-radius: 10px;
                  overflow: hidden;
                  @media only screen and (max-width: 992px) {
                    margin-bottom: 20px;
                }
                  .product-img{
                    overflow: hidden;
                    img{
                        position: relative;
                        width: 270px;
                        height: 270px;
                    }
                      .del,.sale,.cart-icon{
                          position: absolute;
                          top:10px;
                          left:25px;
                          color: white;
                          background-color: $green-color-one;
                          border-radius: 10px;
                          padding: 5px;
                          box-sizing: border-box;
                      }
                      .sale{
                        top:50px;
                        background-color: rgb(158, 15, 15);
                      }
                      .cart-icon{
                        left:230px;
                        top:230px;
                        font-size: 10px;
                      }
                  }
                  .product-details{
                      background-color: white;
                      overflow: hidden;
                      padding: 30px;
                      box-sizing: border-box;
                      @media only screen and (max-width: 992px) {
                        padding: 15px;
                    }
                      h3{
                        font-size:20px;
                        font-weight:700;
                        height:auto;
                        line-height:24px;
                        overflow-wrap:break-word;
                        text-decoration-color:rgb(31, 35, 43);
                        margin-bottom: 16px;
                      }
                      p{
                        color:rgb(128, 128, 128);
                        font-size:16px;
                        font-weight:400;
                        height:90px;
                        line-height:30px;
                        width: 200px;
                        @media only screen and (max-width: 992px) {
                            width: 100%;
                        }
                      }
                  }
              }

          }
      }
  }

}
//subscribe
.subscribe{
    background-image:url(http://webdesign-finder.com/html/canabia/img/parallax/subscribe.jpg);
    background-position-x:50%;
    background-position-y:50%;
    background-size:cover;
    color: white;
    .overlay{
        background-color:rgba(84, 190, 115,0.8);
        padding: 75px 0px;
        .row{
            .subscribe-row{
                align-items: center;
                .btn{
                    background-color:white ;
                    color:$green-color-two ;
                    padding: 10px 10px;
                    font-size: 14px;
                    border-radius: 10px;
                    height: 50px;
                    font-weight: 700;
                }
                input{
                    height: 50px;
                    width: 269px;
                    padding: 10px 10px;
                    border: 1px solid white;
                    box-sizing: border-box;
                    border-radius: 10px;
                    background-color: transparent;
                    @media only screen and (max-width: 992px) {
                        margin-bottom: 20px;
                    }
                    &::placeholder{
                        color: white;
                        font-size: 14px;
                    }
                }
                h6{
                    font-size: 14px;
                }
                h2{
                    font-size:39px;
                    letter-spacing:-2px;
                    line-height:39px;
                }
            }
        }
    }
}
//footer
.footer{
    background-color: #1f232b;
    padding: 150px 0px;
    color: white;
    @media only screen and (max-width: 992px) {
        padding: 80px 0px;
    }
    .container{
        .row{
            .navbar-brand{
                @media only screen and (max-width: 992px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 10px;
                }
                img{
                    width: 148px;
                    height: 113px;
                }
                .brand{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    color: white;
                    height: 44px !important;
                    h1{
                        font-size: 30px;
                    }
                    span{
                        font-size: 10px;
                        margin-top: 0px;
                    }
                }
            }
            .col-xl-3{
                h2{
                    font-size:30px;
                    margin-bottom: 30px;
                }
                
                .post{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 20px;
                    img{
                        border-radius: 10px;
                        height: 70px;
                        width: 70px;
                        margin-right: 10px;
                    }
                    .post-content{
                                display: flex;
                                align-items: flex-start;
                                justify-content: flex-start;
                                flex-direction: column;
                        a{
                            font-size: 16px;
                            color: white;
                            text-decoration: none;
                            &:hover{
                                color:$green-color-one;
                            }
                        }
                        span{
                            color:$green-color-one;
                            font-size: 12px;
                        }
                    }
                }
            }
            
                .contact-div{
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    i{
                        color:$green-color-two;
                        margin-right: 10px;
                    }
                    span{
                        color:#d2d2d2;
                    }
                }
           
        }
    }
}
//Copy right
.copy-right{
    background-color: #15191f;
    color: #d2d2d2;
    padding: 50px 0px;
    .container{
        .row{
            display:flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            font-size: 14px;
            .social-links{
                a{
                    margin-right: 8px;
                    color: #d2d2d2;
                    border:1px solid #d2d2d2;
                    box-sizing: border-box;
                    border-radius: 50%;
                    
                    &:first-child{
                        padding:9px 15px;
                        &:hover{
                            color: #3b5998;
                            border-color: #3b5998;
                        }
                    }
                    &:nth-child(2){
                        padding:9px 12px;
                        &:hover{
                            color: #1DA1F2;
                            border-color: #1DA1F2;
                        }
                    }
                    &:nth-child(3){
                        padding:9px 12px;
                        &:hover{
                            color: #DB4437;
                            border-color:#DB4437;
                        }
                    }
                    i{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 992px) {
  }