<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>

<div class="row" style="margin-bottom: 100px;margin-top: 80px;">

  <div class="col" id="shop_Image">
   <div class="centered text-light" id="product_header">
     <h1>PRODUCTS</h1>
   </div>
  </div>
 </div>

    <div class="container">
    <div class="row">
      
     <div  class="card-columns mx-auto d-flex " *ngFor="let p of Products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <div class="col-sm-3">
        <div class="card" style="width:250px; margin-bottom: 50px;">
            <div class="portrait">
              <img class="card-img-top zoom" src="{{p.img_url}}" alt="Card image">
            <div class="top-left">
              <h3>
                <span class="badge badge-success badge-md">{{p.price}}</span>
              </h3>
            </div>    
            <div class="bottom-right">
              <a class="btn btn-light" href="#" role="button"><i style='font-size:24px;color:green' class='fas'>	&#xf004;</i></a>
              <a class="btn btn-success" href="#" role="button"><i class='fas fa-shopping-cart' style='font-size:24px'></i></a>
            </div>
          </div>  
            <div class="card-body">
                <div *ngFor="let r of p.rateList" style="display: inline;">  
                    <span class="fa fa-star {{r}}"></span>   
                </div><br><br>
                  <h5 class="card-title">{{p.title}}</h5>
                  <p class="card-text text-secondary">{{p.txt}}</p>
            </div>
          </div>
       </div>
    </div>

  </div>

  
  <div class="col" style="margin-bottom: 50px; text-align: center;">

    <ngb-pagination class="d-flex justify-content-center"
      [collectionSize]="Products.length"
      [(page)]="page" 
      aria-label="Custom pagination">

      <ng-template ngbPaginationPrevious>Prev</ng-template>
      <ng-template ngbPaginationNext>Next</ng-template>

   </ngb-pagination>
    
  </div>
    <div class="col" style="text-align: center; margin-bottom: 50px;">
    
      <a class="btn btn-success" routerLink="/cart" role="button" style="font-size: 14pt;margin-right: 20px;">VIEW CART</a>
      <a class="btn btn-outline-success" routerLink="/check-out" role="button" style="font-size: 14pt;">CHECKOUT</a><br>
    
    </div>

</div>
<div [class]="className" >
  <div class="overlay">
    <div class="container">
      <h2>OUR PRODUCTS</h2>

      <ngb-carousel >
        <ng-template ngbSlide *ngFor="let group of Sales">

          <div class="row">
          <div  *ngFor="let s of group.obj">
            <div class="col-sm-3">
              <div class="card" style="width:250px; margin-bottom: 50px;">
                  <div class="portrait">
                    <img class="card-img-top zoom" src="{{s.img_url}}" alt="Card image">
                  <div >
                    <span class=" del"><del>{{s.price}}</del></span>
                    <span class=" sale">{{s.sale}}</span>
                  </div>    
                  <div class="bottom-right">
                    <a class="btn btn-success" href="#" role="button"><i class='fas fa-shopping-cart' style='font-size:24px'></i></a>
                  </div>
                </div>  
                  <div class="card-body">
                      <div *ngFor="let r of s.rateList" style="display: inline;">  
                          <span class="fa fa-star {{r}}"></span>   
                      </div><br><br>
                        <h5 class="card-title">{{s.title}}</h5>
                        <p class="card-text text-secondary">{{s.txt}}</p>
                  </div>
                </div>
             </div>
          </div>
        </div>
          
        </ng-template>
      </ngb-carousel>
      
    </div>
  </div>
</div>