<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button>

<!-- <div class="container-fluid"> -->

   <div class="row" style="margin-bottom: 50px;margin-top: 80px;">

     <div class="col" id="shop_Image">
      <div class="centered text-light" id="product_header">
        <h1>PRODUCTS</h1>
      </div>
     </div>
    </div>

    <div class="row" style="margin-bottom: 50px;">
      <div class="col-sm-4"></div>
      <div class="col-sm-4" style="text-align: center;">

        <ul class="breadcrumb">
          <li><a href="localhost:4200/product" (cick)="check($event,'all')">All</a></li>
          <li><a href="localhost:4200/product" (cick)="check($event,'herbalists')">Herbalists</a></li>
          <li><a href="localhost:4200/product" (cick)="check($event,'aromatic')">Aromatic Plants</a></li>
          <li><a href="localhost:4200/product" (cick)="check($event,'decoration')">Decoration Plants</a></li>
        </ul>

      </div>
      
    </div>
    <div class="container">
    <div class="row">
      
     <div class="card-columns mx-auto d-flex " *ngFor="let p of Products">
      <div class="col-sm-2">
        <div class="card" style="width:300px; margin-bottom: 50px;">
            <div class="portrait">
              <img class="card-img-top zoom" src="{{p.img_url}}" alt="Card image">
            <div class="top-left">
              <h3>
                <span class="badge badge-success badge-md">{{p.price}}</span>
              </h3>
            </div>    
            <div class="bottom-right">
              <a class="btn btn-light" href="#" role="button"><i style='font-size:24px;color:green' class='fas'>	&#xf004;</i></a>
              <a class="btn btn-success" href="#" role="button"><i class='fas fa-shopping-cart' style='font-size:24px'></i></a>
            </div>
          </div>  
            <div class="card-body"><br>
                <div *ngFor="let r of p.rateList" style="display: inline;">  
                    <span class="fa fa-star {{r}}"></span>   
                </div><br><br>
                  <h5 class="card-title">{{p.title}}</h5>
                  <p class="card-text text-secondary">{{p.txt}}</p>
            </div>
          </div>
       </div>
    </div>
  </div>



<!-- </div> -->
  <div class="col" style="margin-bottom: 50px; text-align: center;">

    <div class="pagination">
      <a href="localhost:4200/product" class="disabled">&laquo;</a>
      <a href="localhost:4200/product" class="active">1</a>
      <a href="localhost:4200/product">2</a>
      <a href="localhost:4200/product">&raquo;</a>
    </div>
  </div>
    <div class="col" style="text-align: center; margin-bottom: 50px;">
    
      <a class="btn btn-success" href="#" role="button" style="font-size: 14pt;margin-right: 20px;">VIEW CART</a>
      <a class="btn btn-outline-success" href="#" role="button" style="font-size: 14pt;">CHECKOUT</a><br>
    
    </div>
   
</div>

<div class="our-product">
  <div class="overlay">
    <div class="container">
      <h2>OUR PRODUCTS</h2>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-xl-3 ">
                <div class="product-box">
                  <div class="product-img">
                    <img src="../../../assets/img/01 (1).jpg" class="d-block w-100" alt="...">
                    <span class="del"><del>$50.00</del></span>
                    <span class="sale">$40.00</span>
                  </div>
                  <div class="product-details">
                    <h3>Cannabis Flowers</h3>
                    <p>Swine meatball shankle cow kielbasa burgdoggen shoulder andouille pork loin brisket leberkas.</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="product-box">
                  <div class="product-img">
                    <img src="../../../assets/img/04.jpg" class="d-block w-100" alt="...">
                    <span class="del"><del>$50.00</del></span>
                    <span class="sale">$40.00</span>
                  </div>
                  <div class="product-details">
                    <h3>Cannabis Flowers</h3>
                    <p>Swine meatball shankle cow kielbasa burgdoggen shoulder andouille pork loin brisket leberkas.</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="product-box">
                  <div class="product-img">
                    <img src="../../../assets/img/02.jpg" class="d-block w-100" alt="...">
                    <span class="del"><del>$50.00</del></span>
                    <span class="sale">$40.00</span>
                  </div>
                  <div class="product-details">
                    <h3>Cannabis Flowers</h3>
                    <p>Swine meatball shankle cow kielbasa burgdoggen shoulder andouille pork loin brisket leberkas.</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="product-box">
                  <div class="product-img">
                    <img src="../../../assets/img/01 (1).jpg" class="d-block w-100" alt="...">
                    <span class="del"><del>$50.00</del></span>
                    <span class="sale">$40.00</span>
                  </div>
                  <div class="product-details">
                    <h3>Cannabis Flowers</h3>
                    <p>Swine meatball shankle cow kielbasa burgdoggen shoulder andouille pork loin brisket leberkas.</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-xl-3 ">
                <div class="product-box">
                  <div class="product-img">
                    <img src="../../../assets/img/01 (1).jpg" class="d-block w-100" alt="...">
                    <span class="del"><del>$50.00</del></span>
                    <span class="sale">$40.00</span>
                  </div>
                  <div class="product-details">
                    <h3>Cannabis Flowers</h3>
                    <p>Swine meatball shankle cow kielbasa burgdoggen shoulder andouille pork loin brisket leberkas.</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="product-box">
                  <div class="product-img">
                    <img src="../../../assets/img/02.jpg" class="d-block w-100" alt="...">
                    <span class="del"><del>$50.00</del></span>
                    <span class="sale">$40.00</span>
                  </div>
                  <div class="product-details">
                    <h3>Cannabis Flowers</h3>
                    <p>Swine meatball shankle cow kielbasa burgdoggen shoulder andouille pork loin brisket leberkas.</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="product-box">
                  <div class="product-img">
                    <img src="../../../assets/img/03.jpg" class="d-block w-100" alt="...">
                    <span class="del"><del>$50.00</del></span>
                    <span class="sale">$40.00</span>
                  </div>
                  <div class="product-details">
                    <h3>Cannabis Flowers</h3>
                    <p>Swine meatball shankle cow kielbasa burgdoggen shoulder andouille pork loin brisket leberkas.</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="product-box">
                  <div class="product-img">
                    <img src="../../../assets/img/04.jpg" class="d-block w-100" alt="...">
                    <span class="del"><del>$50.00</del></span>
                    <span class="sale">$40.00</span>
                  </div>
                  <div class="product-details">
                    <h3>Cannabis Flowers</h3>
                    <p>Swine meatball shankle cow kielbasa burgdoggen shoulder andouille pork loin brisket leberkas.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-xl-3 ">
                <div class="product-box">
                  <div class="product-img">
                    <img src="../../../assets/img/02.jpg" class="d-block w-100" alt="...">
                    <span class="del"><del>$50.00</del></span>
                    <span class="sale">$40.00</span>
                  </div>
                  <div class="product-details">
                    <h3>Cannabis Flowers</h3>
                    <p>Swine meatball shankle cow kielbasa burgdoggen shoulder andouille pork loin brisket leberkas.</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 ">
                <div class="product-box">
                  <div class="product-img">
                    <img src="../../../assets/img/04.jpg" class="d-block w-100" alt="...">
                    <span class="del"><del>$50.00</del></span>
                    <span class="sale">$40.00</span>
                  </div>
                  <div class="product-details">
                    <h3>Cannabis Flowers</h3>
                    <p>Swine meatball shankle cow kielbasa burgdoggen shoulder andouille pork loin brisket leberkas.</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 ">
                <div class="product-box">
                  <div class="product-img">
                    <img src="../../../assets/img/01 (1).jpg" class="d-block w-100" alt="...">
                    <span class="del"><del>$50.00</del></span>
                    <span class="sale">$40.00</span>
                  </div>
                  <div class="product-details">
                    <h3>Cannabis Flowers</h3>
                    <p>Swine meatball shankle cow kielbasa burgdoggen shoulder andouille pork loin brisket leberkas.</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 ">
                <div class="product-box">
                  <div class="product-img">
                    <img src="../../../assets/img/03.jpg" class="d-block w-100" alt="...">
                    <span class="del"><del>$50.00</del></span>
                    <span class="sale">$40.00</span>
                  </div>
                  <div class="product-details">
                    <h3>Cannabis Flowers</h3>
                    <p>Swine meatball shankle cow kielbasa burgdoggen shoulder andouille pork loin brisket leberkas.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"> <i class="fas fa-chevron-left"></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"> <i class="fas fa-chevron-right"></i> </span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>