@import '../app.component.scss';
// $green-color-three:#78bf4d ;
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: $green-color-three;
  color: white;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 50%;
  transition: all 0.2s linear;
  animation:nour 1s ease-in-out infinite alternate-reverse;
  @media only screen and (max-width: 992px) {
      animation: initial;
  }
  @keyframes nour{
      0% {
          bottom: 20px;
        }
        100%{
          bottom: 80px;
        }
  }
  i{
      color: #fff;
  }
}

#myBtn:hover {
  background-color: #555;
  transition: all 0.2s linear 0s;
}

* {
    box-sizing: border-box;
  }
#shop_Image{
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("../../assets/img/subscribe.jpg");
    height: 170px;
    width: 100%;
    background-repeat: no-repeat; 
}
#product_header{
  justify-content: center;
  text-align: center;
}
div h1{
  font-size: 24pt;
}
div h1:hover{
  color:$green-color-three;
}
.card{
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    background-color:#dddddd;
}
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.3);
  }
.card-title:hover{
  color: $green-color-three;
}
.checked {
    color: green;
  }
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  /* Bottom right text */
.bottom-right {
  position: absolute;
  top:48%;
  right: 16px;
}
  /* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portrait{
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.zoom {
    border-radius: 10px 10px 0px 0px;
    transition: transform 1s linear;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
.zoom:hover {
    transform: scale(1.2); 
  }
a.disabled{
    color: gray;
    pointer-events: none;
}
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

  ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  ul.breadcrumb li {display: inline;}
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {color: green;}

  .our-product{
    background-image: url("http://webdesign-finder.com/html/canabia/img/parallax/progress.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h2{
    color: $green-color-one;
    margin-bottom: -50ox;
  }
  .overlay{
      background-color: rgba(66, 60, 60, 0.718);
      padding:100px 0px;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 992px) {
        padding:40px 0px;
    }
      .btn{
        background-color: $green-color-one;
        color: white;
        border-radius: 10px;
        margin-top: 80px;
        padding: 8px 35px;
        @media only screen and (max-width: 992px) {
            margin-top: 30px;
        }
        a{
            color: white;
            text-decoration: none;
        }
      }
      .carousel-control-prev-icon,.carousel-control-next-icon{
          background-image: none;
        background-color: $green-color-one;
        box-sizing: border-box;
        height: 50px;
         width: 50px;
        border-radius: 50%;
        color:white;
        padding: 13px;
        i{
            
        }
      }
      .carousel-item{
          .col-xl-3 {
              .product-box{
                  border-radius: 10px;
                  overflow: hidden;
                  @media only screen and (max-width: 992px) {
                    margin-bottom: 20px;
                }
                  .product-img{
                    overflow: hidden;
                    img{
                        position: relative;
                        width: 270px;
                        height: 270px;
                    }
                      .del,.sale{
                          position: absolute;
                          top:10px;
                          left:25px;
                          color: white;
                          background-color: $green-color-one;
                          border-radius: 10px;
                          padding: 5px;
                          box-sizing: border-box;
                      }
                      .sale{
                        top:50px;
                        background-color: rgb(158, 15, 15);
                      }
                  }
                  .product-details{
                      background-color: white;
                      overflow: hidden;
                      padding: 30px;
                      box-sizing: border-box;
                      @media only screen and (max-width: 992px) {
                        padding: 15px;
                    }
                      h3{
                        font-size:20px;
                        font-weight:700;
                        height:auto;
                        line-height:24px;
                        overflow-wrap:break-word;
                        text-decoration-color:rgb(31, 35, 43);
                        margin-bottom: 16px;
                      }
                      p{
                        color:rgb(128, 128, 128);
                        font-size:16px;
                        font-weight:400;
                        height:90px;
                        line-height:30px;
                        width: 200px;
                        @media only screen and (max-width: 992px) {
                            width: 100%;
                        }
                      }
                  }
              }

          }
      }
  }

}