* {
    box-sizing: border-box;
  }
.team-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 80px;
    background-repeat: no-repeat;
    width: 100%;
    height: 170px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("http://webdesign-finder.com/html/canabia/img/parallax/subscribe.jpg");
  
}
.row::after {
    content: "";
    clear: both;
     margin:20px;
    
    }
    

.container
{ 
  margin-top:40px;
    background-color:white;
    text-align: center;
    padding: 0px !important;
 
}
.cards
{
     border:7px solid white;
    background-color: #f1f1f1;
    height:auto;
   text-align: center;
   border-radius: 20px;
     
   padding:20px;
   @media only screen and (max-width: 992px) {
    border: none;
    margin-bottom: 10px;
}
    i{ 
       padding:7px;
     color:gray;
     font-size: 5px;
    }
}  
 
.imges
   {
       height:200px;
       width:200px;
       
       border: 0;
       vertical-align: middle;
       margin-bottom: 10px;
   }
 .rounded-circle
   {
    border-radius: 50%;
   }
 span{
       color:green;
   }