
<div class="team-header">
    <h3>team</h3>
 </div>
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12   cards">
            <img  src="../../assets/img/333.jpg" class="card-img-top  imges rounded-circle"/>
            <h5>Carlos Lawson</h5>
            <span class="small-text highlight">FOUNDER</span><br>
             <p class="content-3lines-ellipsis  ">Short loin prosciutto jerky, picanha corned beef pork loin jowl sausage.</p>
            <br><a href="#" ><i class="fab fa-facebook" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-twitter" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-google" style="font-size:20px"></i></a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12  cards">
            <img  src="../../assets/img/444.jpg" class="card-img-top imges rounded-circle"/>
            <h5>Carlos Lawson</h5>
            <span class="small-text highlight">MANAGER</span><br>
             <p class="content-3lines-ellipsis  ">Filet mignon alcatra t-bone, meatball rump porchetta prosciutto.</p>
            <br><a href="#" ><i class="fab fa-facebook" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-twitter" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-google" style="font-size:20px"></i></a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12  cards">
            <img  src="../../assets/img/555.jpg" class="card-img-top imges rounded-circle"/>
            <h5>Carlos Lawson</h5>
            <span class="small-text highlight">MASTER</span><br>
             <p class="content-3lines-ellipsis  ">Sirloin pancetta venison flank pork shankle pastrami t-bone cow..</p>
             <br><a href="#" ><i class="fab fa-facebook" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-twitter" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-google" style="font-size:20px"></i></a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12  cards">
            <img  src="../../assets/img/222.jpg" class="card-img-top  imges rounded-circle"/>
            <h5>Carlos Lawson</h5>
            <span class="small-text highlight">DOCTOR</span><br>
            <p class="content-3lines-ellipsis  ">ork belly drumstick shoulder, spare ribs strip steak beef ribs prosciutto.</p>
            <br><a href="#" ><i class="fab fa-facebook" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-twitter" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-google" style="font-size:20px"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12  cards">
            <img  src="../../assets/img/666.jpg" class="card-img-top  imges rounded-circle"/>
            <h5>Carlos Lawson</h5>
            <span class="small-text highlight">FOUNDER</span><br>
             <p class="content-3lines-ellipsis  ">Short loin prosciutto jerky, picanha corned beef pork loin jowl sausage.</p>
             <br><a href="#" ><i class="fab fa-facebook" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-twitter" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-google" style="font-size:20px"></i></a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12   cards">
            <img  src="../../assets/img/777.jpg" class="card-img-top imges rounded-circle"/>
            <h5>Carlos Lawson</h5>
            <span class="small-text highlight">MANAGER</span><br>
             <p class="content-3lines-ellipsis  ">Filet mignon alcatra t-bone, meatball rump porchetta prosciutto.</p>
             <br><a href="#" ><i class="fab fa-facebook" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-twitter" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-google" style="font-size:20px"></i></a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12  cards">
            <img  src="../../assets/img/999.jpg" class="card-img-top imges rounded-circle"/>
            <h5>Carlos Lawson</h5>
            <span class="small-text highlight">MASTER</span><br>
             <p class="content-3lines-ellipsis  ">Sirloin pancetta venison flank pork shankle pastrami t-bone cow..</p>
             <br><a href="#" ><i class="fab fa-facebook" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-twitter" style="font-size:20px"></i></a>
             <a href="#" ><i class="fab fa-google" style="font-size:20px"></i></a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 cards">
            <img  src="../../assets/img/888.jpg" class="card-img-top  imges rounded-circle"/>
            <h5>Carlos Lawson</h5>
            <span class="small-text highlight">DOCTOR</span><br>
           <p class="content-3lines-ellipsis  ">ork belly drumstick shoulder, spare ribs strip steak beef ribs prosciutto.</p>
           <br><a href="#" ><i class="fab fa-facebook" style="font-size:20px"></i></a>
           <a href="#" ><i class="fab fa-twitter" style="font-size:20px"></i></a>
           <a href="#" ><i class="fab fa-google" style="font-size:20px"></i></a>
        </div>
    </div>

 </div>